@import "https://meyerweb.com/eric/tools/css/reset/reset200802.css";
@import 'https://fonts.googleapis.com/css?family=Roboto';
body {
    height: 100vh;
    /* Try removing this.. */
    font-family: 'Roboto';
    font-size: 22px;
}

#page {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-areas: "head head" "nav  main" "nav  foot";
    grid-template-rows: 50px 1fr 30px;
    grid-template-columns: 150px 1fr;
}

#page>header {
    grid-area: head;
    background-color: #555555;
    color: white;
    font-size: 2em;
}

#page>nav {
    grid-area: nav;
    background-color: #cccccc;
}

#page>main {
    grid-area: main;
    background-color: #eeeeee;
}

#page>footer {
    grid-area: foot;
    background-color: #222222;
    color: white;
    font-size: 1.2em;
}

tbody tr:nth-child(odd) {
    background-color: #bee5fb;
}

tbody tr:nth-child(even) {
    background-color: #9acbe7;
}

table {
    width: 50%;
    height: 50%;
    background-color: #5d8bb6;
}

caption {
    font-family: 'Rock Salt', cursive;
    padding: 20px;
    font-style: italic;
    caption-side: bottom;
    color: #666;
    text-align: right;
    letter-spacing: 1px;
}

th {
    letter-spacing: 2px;
}

td {
    letter-spacing: 1px;
}

thead td {
    font-weight: bold;
    text-align: center;
}

tbody td {
    text-align: center;
    vertical-align: middle;
}

tfoot th {
    text-align: center;
}

table>tbody>tr>td>input {
    text-align: center;
    font-size: 0.8em;
    font-weight: bold;
    /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -webkit-border-radius: 50%;
    /* Firefox 1-3.6 */
    -moz-border-radius: 50%;
    /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
    border-radius: 50%;
    border: 2px solid coral;
    padding: 5px;
    width: 40px;
    height: 40px;
}

table>tbody>tr>td:nth-child(2)>input {
    border: 2px solid pink;
}

table>tbody>tr>td:nth-child(4)>input {
    border: 2px solid blue;
    /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -webkit-border-radius: 0%;
    /* Firefox 1-3.6 */
    -moz-border-radius: 0%;
    /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
    border-radius: 0%;
}

table>tbody>tr>td:nth-child(4)>input {
    border: 2px solid goldenrod;
}

table>tbody>tr>td:nth-child(5)>input {
    border: 2px solid greenyellow;
}

table>tbody>tr:last-child>td>input {
    border: 2px solid #444;
}

table>tbody>tr:last-child>td {
    position: relative;
    top: -0.5em;
    font-size: 80%;
    border-color: #222222;
}